<div class="flex gap-2 p-4 bg-indigo-400 justify-center h-screen">
    <div id="sidebar" class="bg-amber-900 p-7">
        <h2>People in Chat Room</h2>
        <ul id="user-list">
            <li>User 1</li>
            <li>User 2</li>
        </ul>
    </div>
    <div id="chat-area" class="flex bg-slate-600 basis-3/4 flex-col">
        <h1 class="align-text-top text-4xl">Chat Room</h1>
        <div class="bg-slate-300 h-40" id="messages">
        
        </div>
        <div>
            <input class="p-2 m-4 rounded-md" type="text" placeholder="Type your message here"></input>
            <button class="bg-blue-600 p-2 rounded-md w-15" id="send-button">Send</button>
        </div>
    </div>
</div>